.body1_lay{
    margin-top: 100px;
    position: relative;
    margin-bottom: 110px
}

.icon1_body1 i {
    position: absolute;
    margin-left: 40px;
}

.icon2_body1 {
    margin-top: 90px;
    margin-left: 800px;
}

.icon3_body1 {
    width: 170px;
    height: 40px;
    background-color: #F77E2E;
    margin-top: 50px;
    margin-left: 800px;
}

.icon4_body1 {
    position: absolute;
    margin-top: 15px;
    margin-left: 35px;

}

.icon5_body1 {
    position: absolute;
    margin-top: 56px;
    margin-left: 741px;
}

.icon6_body1 {
    position: absolute;
    margin-top: 65px;
    margin-left: 743px;
}

.icon7_body1 {
    position: absolute;
    margin-top: 70px;
    margin-left: 741px;
}

.icon8_body1 {
    position: absolute;
    margin-top: 70px;
    margin-left: 736px;
}

.icon9_body1 {
    position: absolute;
    margin-top: 70px;
    margin-left: 727px;
}

.icon10_body1 {
    position: absolute;
    margin-top: 65px;
    margin-left: 725px;
}

.icon11_body1 {
    position: absolute;
    margin-top: 57px;
    margin-left: 729px;
}

.icon12_body1 {
    position: absolute;
    margin-top: 54px;
    margin-left: 736px;

}

.icon13_body1 {
    position: absolute;
    margin-top: 100px;
    margin-left: 745px;
}

.icon14_body1 i {
    position: absolute;
    margin-left: 80px;
    margin-top: 90px;

}

.icon15_body1 {
    position: absolute;
    width: 511px;
    height: 2px;
    background-color: #F77E2E;
    margin-top: 355px;
    margin-left: 80px;
}

.icon16_body1 {
    position: absolute;
    margin-top: 250px;
    margin-left: 40px;

}

.icon17_body1 {
    position: absolute;
    margin-top: 167px;
    margin-left: 44px;
}

.icon18_body1 {
    position: absolute;
    margin-top: 174px;
    margin-left: 70px;
}

.icon19_body1 {
    position: absolute;
    margin-top: 169px;
    margin-left: 70px;
}

.icon20_body1 {

    margin-top: 256px;
    margin-left: 81px;

}

.icon21_body1 {
    position: absolute;
    margin-top: 204px;
    margin-left: 141px;


}

.icon22_body1 {
    position: absolute;
    margin-top: 204px;
    margin-left: 150px;
}

.icon23_body1 {
    position: absolute;
    margin-top: 238px;
    margin-left: 195px;

}

.icon24_body1 i {
    position: absolute;
    margin-top: 88px;
    margin-left: 90px;



}

.icon25_body1 {
    position: absolute;
    margin-top: 10px;
    margin-left: 13px;
}

.icon26_body1 {
    position: absolute;
    margin-top: 101px;
    margin-left: 65px;

}

.icon27_body1 {
    position: absolute;

    margin-top: 176px;
    margin-left: 145px;




}

.icon28_body1 {
    position: absolute;

    margin-top: 176px;
    margin-left: 145px;


}

.icon29_body1 {
    position: absolute;
    margin-top: 225px;
    margin-left: 148px;
}

.icon30_body1 {
    margin-left: 15px;

}

.icon31_body1 i {
    position: absolute;
    margin-top: 261px;
    margin-left: 274px;
}

.icon32_body1 {
    position: absolute;
    width: 76px;
    height: 15px;
    background-color: #88B3FF;
    margin-top: 250px;
    margin-left: 272px;


}

.icon33_body1 {
    position: absolute;
    width: 7px;
    height: 95px;
    background-color: #01ABB3;

    margin-left: 38px;

}

.icon34_body1 {

    height: 7px;
    width: 86px;
    background-color: #01ABB3;

    margin-top: 42px;

}

.icon35_body1 {
    position: absolute;
    width: 7px;
    height: 17px;
    background-color: #01ABB3;
    margin-left: 40px;



}

.icon36_body1 {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #CDE0FB;
    margin-top: 320px;
    margin-left: 330px;

}

.icon37_body1 {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #CDE0FB;
    border: 1px solid #01ABB3;
    margin-top: 2.5px;


    margin-left: 2px;
}

.icon38_body1 {
    margin-top: 1.5px;
    margin-left: 1.5px;
}

.icon39_body1 {
    position: absolute;
    width: 33px;
    height: 94px;
    background-color: #017D7D;
    margin-left: 345px;
    margin-top: 261px;


}

.icon40_body1 {
    position: absolute;
    width: 33px;
    height: 7px;
    background-color: #88B3FF;
    margin-top: 42px;


}

.icon41_body1 {
    position: absolute;
    width: 180px;
    height: 160px;
    background-color: #F8B201;
    margin-left: 290px;
    margin-top: 195px;
}

.icon42_body1 {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 8px;
    width: 20px;
    border-radius: 150px 150px 0 0;
    background-color: #017D7D;
    margin-top: 247px;
    margin-left: 337px;


}

.icon43_body1 {
    position: absolute;
    margin-top: 205px;
    margin-left: 280px;

}

.icon44_body1 {
    position: absolute;
    height: 13px;
    width: 35px;
    background-color: #3969B7;
    margin-left: 345px;
    margin-top: 250px;


}

.icon45_body1 {
    position: absolute;
    margin-top: 190px;
    margin-left: 335px;

}

.icon46_body1 {
    position: absolute;
    margin-top: 250px;
    margin-left: 300px;

}

.icon47_body1 {
    position: absolute;
    margin-top: 240px;
    margin-left: 340px;
}

.icon48_body1 {
    position: absolute;
    margin-top: 295px;
    margin-left: 205px;
}

.icon49_body1 {
    position: absolute;
    margin-top: 258px;
    margin-left: 238px;
}

.icon50_body1 {
    position: absolute;
    margin-top: 230px;
    margin-left: 280px;
}

.icon51_body1 {
    position: absolute;
    margin-top: 190px;
    margin-left: 335px;
}

.icon52_body1 {
    position: absolute;
    height: 25px;
    width: 184px;
    background-color: #FFC261;
    margin-left: 285px;
    margin-top: 170px;
}

.icon53_body1 {
    position: absolute;
    height: 160px;
    width: 64px;
    background-color: #FFA412;
    margin-left: 470px;
    margin-top: 195px;

}

.icon55_body1 {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 17px;
    width: 38px;
    border-radius: 150px 150px 0 0;
    background-color: #ED7D2B;
    margin-top: 163px;
    margin-left: 405px;
}

.icon56_body1 {
    position: absolute;
    width: 13px;
    height: 160px;
    background-color: #FFA412;

    margin-left: 70px;
}

.icon57_body1 {
    position: absolute;
    width: 13px;
    height: 24px;
    background-color: #FFA412;

    margin-left: 75px;
}

.icon58_body1 {
    position: absolute;
    width: 170px;
    height: 13px;
    background-color: #FFA412;
    margin-top: 55px;
    margin-left: 10px;

}

.icon59_body1 {
    position: absolute;
    width: 64.5px;
    height: 13px;
    background-color: #FA9712;
    margin-top: 55px;



}

.icon60_body1 i {
    position: absolute;
    /* width: 150px;
    height: 105px;
    background-color: #CDE0FB;
    -ms-transform: rotate(20deg);
    /* IE 9 */
    /* transform: rotate(-20deg); */
    margin-top: 110px;
    margin-left: 485px;

}

.icon61_body1 {
    position: absolute;
    width: 70px;
    height: 26px;
    background-color: #FA9712;
    margin-top: 170px;
    margin-left: 469px;

}

.icon62_body1 {
    position: absolute;
    padding-left: 10px;
    padding-top: 30px;



}
.icon63_body1 {
    position: absolute;
    padding-left: 33px;
    padding-top: 79px;



}
.icon64_body1 {
    position: absolute;
    padding-left:100px;
    padding-top: 60px;

}
.icon65_body1 {
    position: absolute;
    padding-left: 55px;
    padding-top: 49px;
}
.icon66_body1 {
    position: absolute;
    padding-left: 61px;
    padding-top: 47px;
}
.icon67_body1 {
    position: absolute;
    padding-left: 70px;
    padding-top: 44px;
}
.icon68_body1 {
    position: absolute;
    padding-left: 76px;
    padding-top: 42px;
}
.icon69_body1 {
    position: absolute;
    padding-left: 82px;
    padding-top: 40px;
}
.icon70_body1 {
    position: absolute;
    padding-left: 88px;
    padding-top: 38px;
}
.icon71_body1 {
    position: absolute;
    padding-left: 98px;
    padding-top: 34px;
}
.icon72_body1{
    position: absolute;
    margin-top: 85px;
    margin-left: 300px;
}
.icon73_body1{
    position: absolute;
    margin-top: 58px;
    margin-left: 400px;

}
.icon74_body1{
    position: absolute;
    margin-left: 305px;
    margin-top: 165px;
}
.icon75_body1{
    position: absolute;
    margin-left: 420px;
    margin-top: 150px;

}