.header_2 {
    background-color: #F77E2E;
    height: 50px;
    margin-top: 130px;
    width: 1390px;

}

/* .img_center:hover {
    position: relative;
    -webkit-animation: floatBubble 2s infinite  normal ease-out;
    animation: floatBubble 2s infinite  normal ease-out;
}


@-webkit-keyframes floatBubble {
    0% {
        top:200px;
    }
    100% {
        top: 0px;
    }
}
@keyframes floatBubble {
    0% {
        top:200px;
    }
    100% {
        top: 0px;
    }
} */
.img_text2 {
    margin-left: 20px;
    margin-top: 17px;
    padding-bottom: 20px;
}

.img_text2:hover {
    cursor: pointer;
}

.img1_text2 {
    margin-top: 50px;
}

.img2_text2 {
    margin-left: 1280px;
}

.img3_text2 {
    margin-left: 1475px;
    margin-top: 25px;
}

.logo_header2 {
    margin-top: 40px;
    margin-left: 1250px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1BD741;

}

/* .logo_header2:hover {
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-direction: reverse;
}

@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 10px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 10x;
        top: 10px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 10px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
} */

.icon_header2 i {
    position: absolute;
    margin-top: 11px;
    margin-left: 13px;

}

.logo1_header2 {
    position: absolute;
    margin-left: 8px;
    margin-top: 9px;
}